@using GoDrive.Web.ViewModels.Account
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2 class="white-text">Sing In</h2>
<div id="login-wrapper" class="row">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "col s12", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <h4 class="white-text">Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "red-text" })
               
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        @Html.TextBoxFor(m => m.Email, new {  })
                        @Html.LabelFor(m => m.Email, new { @for= "icon_prefix" })
                        <div>
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "red-text" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">vpn_key</i>
                        @Html.PasswordFor(m => m.Password, new { id = "icon_prefix" })
                        @Html.LabelFor(m => m.Password, new { @for = "icon_prefix" })
                        <div>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "red-text" })
                        </div>
                    </div>
                </div>
                   
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn waves-effect waves-light deep-purple darken-4" type="submit" name="action">
                                Sign In
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Or Register as a new user", "Register", null, new { @class = "deep-purple-text text-darken-4" })
                    </p>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}