@model GoDrive.Web.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2 class="white-text">@ViewBag.Title.</h2>

<div id="register-wrapper" class="row">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 class="white-text">Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "red-text" })

        // Email
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                @Html.TextBoxFor(m => m.Email, new { })
                @Html.LabelFor(m => m.Email, new { @for = "icon_prefix" })
                <div>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "red-text" })
                </div>
            </div>
        </div>

        // Password
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">vpn_key</i>
                @Html.PasswordFor(m => m.Password, new { id = "icon_prefix" })
                @Html.LabelFor(m => m.Password, new { @for = "icon_prefix" })
                <div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "red-text" })
                </div>
            </div>
        </div>

        // Confirm Password
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">vpn_key</i>
                @Html.PasswordFor(m => m.ConfirmPassword, new { id = "icon_prefix" })
                @Html.LabelFor(m => m.ConfirmPassword, new { @for = "icon_prefix" })
                <div>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "red-text" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn waves-effect waves-light deep-purple darken-4" type="submit" name="action">
                    Register
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
