<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GoDrive</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div>
        <div class="center indigo darken-4 white-text">
            Questions? Contact our award winning support team <a href="/contact" class="header-phone"><span class="icon-tel"></span>1-866-303-6061</a>
        </div>

        <div id="nav-wrapper">
            <nav class="transparent">
                <div class="nav-wrapper  white-text">
                    @Html.ActionLink("GoDrive", "Index", "Home", new { area = string.Empty }, new { @class = "brand-logo deep-purple darken-4" })
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GoDrive</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @RenderSection("scripts", required: false)

    <script>
        $(".button-collapse").sideNav();
    </script>

</body>
</html>
