@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GoDrive</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    @Scripts.Render("~/bundles/jquery")


    @Scripts.Render("~/bundles/kendo")


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div>
        <div class="center indigo darken-4 white-text">
            Questions? Contact our award winning support team <a href="/contact" class="header-phone"><span class="icon-tel"></span>1-866-303-6061</a>
        </div>

        <div id="nav-wrapper">
            <nav class="transparent">
                <div class="nav-wrapper  white-text">
                    @Html.ActionLink("GoDrive", "Index", "Home", new { area = string.Empty }, new { @class = "brand-logo deep-purple darken-4" })
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year - GoDrive</p>
        </footer>*@

        <footer class="page-footer deep-purple darken-4">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Go Drive</h5>
                        <p class="grey-text text-lighten-4">All Companies - One Web Application</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Organizations</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Create Organization</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/materialize")
    @RenderSection("scripts", required: false)

    <script>
        $(".button-collapse").sideNav();
    </script>

</body>
</html>
