@model GoDrive.Web.ViewModels.Manage.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2 class="white-text">@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4 class="white-text">Change your account settings</h4>
    <hr />

    <div class="row">
        <div class="col s12 m6">
            <div class="card deep-purple darken-4">
                <div class="card-content white-text">
                    <span class="card-title">Personal Information</span>
                    <p>
                        Manage Personal Information
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">Manage</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card deep-purple darken-4">
                <div class="card-content white-text">
                    <span class="card-title">Login Inormation</span>
                    <p>
                        Manage Your password and External Logins
                    </p>
                </div>
                <div class="card-action">
                    @(Model.HasPassword ? Html.ActionLink("Change password", "ChangePassword") : Html.ActionLink("Create", "SetPassword"))
                    @Html.ActionLink("External Logins", "ManageLogins")
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card deep-purple darken-4">
                <div class="card-content white-text">
                    <span class="card-title">Joined Organization</span>
                    <p>
                       See Detais of The Organization You are part of.
                    </p>
                </div>
                <div class="card-action">
                    @Html.ActionLink("Joined Organization", "Index", "JoinedOrganization")
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card deep-purple darken-4">
                <div class="card-content white-text">
                    <span class="card-title">My Schedule</span>
                    <p>
                        See Your Driving Schedule
                    </p>
                </div>
                <div class="card-action">
                    @Html.ActionLink("My Schedule", "MySchedule", "JoinedOrganization")
                </div>
            </div>
        </div>

    </div>
</div>
