@model GoDrive.Web.Areas.MyOrganization.ViewModels.ManageUserViewModel

<tr>
    <td>@Model.Username</td>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>@Model.Age</td>
    <td>
        @Html.ActionLink("Schedular", "Index", "Scheduler", routeValues: new { area = "MyOrganization" }, htmlAttributes: new { @class = "aves-effect waves-light btn deep-purple darken-4" })
    </td>
</tr>