@model GoDrive.Web.Areas.MyOrganization.ViewModels.OrganizationInformationViewModel
<h2>Manage Organization Information</h2>

<div id="register-wrapper" class="row">

    @using (Html.BeginForm("UpdateOrganization", "ManageInformation", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "red-text" })

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                @Html.TextBoxFor(m => m.Name, new { })
                @Html.LabelFor(m => m.Name, new { @for = "icon_prefix" })
                <div>
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "red-text" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                @Html.EditorFor(m => m.AboutInfo, new { })
                @Html.LabelFor(m => m.AboutInfo, new { @for = "icon_prefix" })
                <div>
                    @Html.ValidationMessageFor(m => m.AboutInfo, "", new { @class = "red-text" })
                </div>
            </div>
        </div>

        @Html.HiddenFor(x => x.Id)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn waves-effect waves-light deep-purple darken-4" type="submit" name="action">
                    Update
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}