@model GoDrive.Web.ViewModels.ApplyForOrganization.CreateOrganizationRequestViewModel

<div class="row">
    <div class="input-field col s6">
        <i class="material-icons prefix">supervisor_account</i>
        @Html.TextBoxFor(m => m.OrganizationName, new { })
        @Html.LabelFor(m => m.OrganizationName, new { @for = "icon_prefix" })
        <div>
            @Html.ValidationMessageFor(m => m.OrganizationName, "", new { @class = "red-text" })
        </div>
    </div>
</div>

<div class="row">
    <div class="input-field col s6">
        <i class="material-icons prefix">info_outline</i>
        @Html.EditorFor(m => m.OrganizationDescription, new { })
        @Html.LabelFor(m => m.OrganizationDescription, new { @for = "icon_prefix" })
        <div>
            @Html.ValidationMessageFor(m => m.OrganizationDescription, "", new { @class = "red-text" })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <button class="btn waves-effect waves-light deep-purple darken-4" type="submit" name="action">
            Apply
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>